@charset "utf-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* CSS Document */
*{padding:0; margin:0; font-size: 100%; font-family: "noto sans kr", serif; letter-spacing: -0.02em; box-sizing: border-box;}
*::before,
*::after {box-sizing: border-box;}
header,main,footer,section,article {display: block;}
html {position: relative; overflow-y:scroll;}
html,body {width:100%; height:100%;}
ul,ol,li,dl,dt,dd {list-style: none;}
i,em,address {font-style: normal;}
label,button {cursor: pointer;}
button {border: none; background: none;}
hr,legend {display: none;}
img,fieldset,iframe {border:none;}
img {max-width: 100%; vertical-align: top;}
caption {display: none;}
input,button {box-sizing: border-box; vertical-align: middle; -webkit-appearance: none; border-radius: 0; outline: none;}
select {box-sizing: border-box; vertical-align: middle; border-radius: 0; outline: none;}
table {border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout: fixed;}
select::-ms-expand {display: none;}
table {border:none; border-collapse:collapse; padding:0; border-spacing:0; table-layout: fixed;}
input::-webkit-input-placeholder {font: 14px/1em 'nanum gothic',sans-serif;}
input::-moz-placeholder { /* Firefox 19+ */font: 14px/1em 'nanum gothic',sans-serif;}
input:-ms-input-placeholder { /* IE 10+ */font: 14px/1em 'nanum gothic',sans-serif;}

.skip a {display: block; position: absolute; left: 0; top: -9999em; width: 100%; background-color: #272727; color: #aaa; font: bold 12px/3.4 arial, sans-serif; text-align:center; z-index: 99999;}
.skip a:hover,
.skip a:active,
.skip a:focus {top:0;}

a {text-decoration:none; color:#000;}
a:hover {text-decoration:none;}
.blind {display: block; overflow: hidden; top: -1000em; position: absolute;}


/*기본*/
.wrap {height:100%;}

.guide-line {width: 1000px; margin: 0 auto;}
.pc-b {display: block;}
.pc-ib {display: inline-block;}
.pc-i {display: inline;}
.mo-b {display: none;}
.mo-ib {display: none;}
.mo-i {display: none;}

@media screen and (max-width: 768px){
  .guide-line {width: auto;}
	.pc-b {display: none;}
	.pc-ib {display: none;}
	.pc-i {display: none;}
	.mo-b {display: block;}
	.mo-ib {display: inline-block;}
	.mo-i {display: inline;}
}