* {margin: 0; padding: 0;}
body {width: 960px;}
.container {width: 98%; margin: 60px auto;}

// 최상단 파란색 배너
.top_banner {
    background-color: #0155b1;
    color: white;
    border-radius: 25px;
    padding: 80px 60px;
    .title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.1em;
        margin-bottom: 70px;
    }
    h2 {
        font-size: 60px;
        line-height: 1.5em;
        margin-bottom: 70px;
    }
    .txt {
        font-size: 40px;
        line-height: 1.7em;
        font-weight: 500;
        margin-bottom: 140px;
    }
    .top_banner_footer {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.1em;
        span {
            font-size: 60px;
            margin-left: 270px;
        }
    }
}

// 키워드 태그들
.tags {
    margin: 230px auto;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    div {
        border-radius: 50px;
        vertical-align: middle;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 19px 20px 0;
    }
    .gray_box {
        background-color: #cecece;
        font-size: 24px;
        padding: 25px 30px;
        height: 70px;
        margin-top: 10px;
        &:first-child {
            margin-left: 90px;
        }
        &:nth-child(3) {
            margin-right: 0;
            margin-left: 10px;
        }
        &:nth-of-type(8) {
            margin-left: 90px;
            font-size: 30px;
            padding-top: 20px;
        }
    }
    .black_box {
        background-color: #484848;
        color: white;
        font-size: 30px;
        padding: 30px 40px;
    }
    .blue_box {
        background-color: #0155b1;
        color: white;
        font-size: 30px;
        padding: 30px 40px;
    }
}

// 대표님 소개
.google_god {
    width: 100%;
    margin-bottom: 230px;
    h1 {
        width: 82%;
        margin: 0 auto 80px;
        font-size: 60px;
        line-height: 1.25em;
    }
    span {
        color:#0155b1;
    }
    p {
        font-size: 30px;
        line-height: 1.75em;
        width: 82%;
        margin: 0 auto 120px;
    }
    .layout_wrap {
        display: flex;
        flex-wrap: wrap;
        .blue_div {
            background-color: #0155b1;
            border-radius: 25px;
            color: white;
            font-size: 60px;
            font-weight: bold;
        }
        .first_div {
            width: 100%;
            padding: 120px 0 260px 70px;
        }
        img {
            margin: 30px 30px 0 0;
            display: inline;
            &:first-of-type {
                width: 65%;
            }
            &:nth-of-type(2) {
                margin-right: 0;
            }
        }
        .last_div {
            display: inline;
            margin-top: 30px;
            width: 65%;
            height: 405px;
            text-align: right;
            padding: 50px 70px;
            box-sizing: border-box;
            font-weight: normal;
            h1 {
                font-size: 55px;
                margin-right: 0;
                line-height: 1.25em;
                margin-bottom: 0;
            }
            p {
                margin-top: 70px;
                margin-right: 0;
                margin-bottom: 0;
                color: #cecece;
            }
            h3 {
                font-size: 30px;
            }
        }
    }
}

// 목표1
.goal01 {
    width: 100%;
    margin-bottom: 230px;
    h1 {
        width: 82%;
        margin: 0 auto 80px;
        font-size: 58px;
        line-height: 1.25em;
    }
    span {
        color:#0155b1;
    }
    p {
        font-size: 30px;
        line-height: 1.75em;
        width: 82%;
        margin: 0 auto 120px;
    }
    .gray_bg {
        background-color: rgb(250,250,250);
        width: 98%;
        margin: 0 auto 150px;
        border-radius: 25px;
        padding-bottom: 150px;
        img {
            width: 80%;
            margin: 140px 90px;
        }
        .boxes_wrap {
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            .content_box {
                width: 48%;
                margin-right: 4%;
                border-top: 5px solid black;
                h3 {
                    font-size: 35px;
                    margin: 40px 0;
                }
                &:nth-child(2),&:nth-child(4) {
                    margin-right: 0;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 22px;       
                    margin-bottom: 40px;             
                }
            }
        }
    }
}

// 목표2
.goal02 {
    width: 100%;
    margin-bottom: 230px;
    h1 {
        width: 82%;
        margin: 0 auto 80px;
        font-size: 58px;
        line-height: 1.25em;
    }
    span {
        color:#0155b1;
    }
    .table {
        border-top: 3px solid #ccc;
        width: 80%;
        margin: 120px auto;
        .column{
            display: flex;
            .th {
                width: 25%;
                color:#0155b1;
                font-weight: bold;
                font-size: 36px;
                text-align-last: left;
                padding: 40px 0;
                line-height: 1.5em;
            }
            .td {
                font-size: 27px;
                line-height: 1.5em;
                color: black;
                padding: 40px 0 40px 70px;
            }
            border-bottom: 3px solid #ccc;
        }
    }
}

// 상세내용
.details {
    margin-bottom: 140px;
    .blue_div {
        background-color: #0155b1;
        border-radius: 25px;
        color: white;
        font-size: 30px;
        line-height: 2.75em;
        font-weight: bold;
        padding: 180px 70px;
    }
    .detail_box {
        margin-top: 140px;
        border-top: 10px solid #0155b1;
        h3 {
            font-size: 44px;
            margin: 40px 0 80px 0;
        }
        .position,.condition,.way {
            width: 99%;
            margin: auto;
            border-bottom: 2px solid black;

            thead {
                th {
                    color: #0155b1;
                    font-size: 36px;
                    font-weight: bold;
                    text-align: left;
                    padding-bottom: 30px;
                }
            }
            tbody {
                text-align: left;
                th {
                    vertical-align: top;
                    font-size: 44px;
                    font-weight: normal;
                    box-sizing: border-box;
                    width: 30%;
                    div {
                        width: 100%;
                        border-top: 2px solid black;
                        padding: 60px 0;
                    }
                }
                td {
                    width: 25%;
                    font-size: 25px;
                    line-height: 1.75em;
                    div {
                        width: 100%;
                        border-top: 2px solid black;
                        padding: 60px 0;
                        margin: 0;
                        ul {
                            width: 90%;
                            margin-left: 10%;
                            li {
                                list-style: disc;
                            }
                        } 
                    } 
                }
            } 
        }
        img {
            width: 100%;
        }
    }
}